<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageService"
          class="com.yee.study.spring.framework.ioc.bean.MessageServiceImpl">
        <property name="name" value="Roger"/>
    </bean>

    <bean id="person" class="com.yee.study.spring.framework.ioc.bean.Person"/>

    <bean id="city" class="com.yee.study.spring.framework.ioc.bean.City" autowire="constructor"/>

    <!-- 也可以指定构造器的参数来完成构造器注入 -->
<!--    <bean id="city" class="com.yee.study.spring.framework.ioc.bean.City">-->
<!--        <constructor-arg ref="person"/>-->
<!--    </bean>-->

</beans>