<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cycleBeanA"
          class="com.yee.study.spring.framework.ioc.bean.CycleBean.CycleBeanA"
          scope="singleton">
        <constructor-arg ref="cycleBeanB"/>
    </bean>

    <bean id="cycleBeanB"
          class="com.yee.study.spring.framework.ioc.bean.CycleBean.CycleBeanB"
          scope="singleton">
        <constructor-arg ref="cycleBeanC"/>
    </bean>

    <bean id="cycleBeanC"
          class="com.yee.study.spring.framework.ioc.bean.CycleBean.CycleBeanC"
          scope="singleton">
        <constructor-arg ref="cycleBeanA"/>
    </bean>

</beans>